<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Book Recommendation App</title>
    <link rel="stylesheet" href="public/stylesheets/style.css">
  </head>

  <body>
  <a href="/"><h1>Book Recommendation App</h1></a>
    <%= yield %>
  </body>
</html>